extends appLayout

block content
    .container.pt-5.pb-5
        .row
            .col-sm.text-center.pt-4
                a.btn.btn-light(href='../../student/list')
                    i.fas.fa-user-graduate.fa-3x.d-block
                    h4.mt-2 Students
            .col-sm.text-center.pt-4
                a.btn.btn-light(href='../../teachers/list')
                    i.fas.fa-chalkboard-teacher.fa-3x.d-block
                    h4.mt-2 Teachers
            .col-sm.text-center.pt-4
                a.btn.btn-light(href='../../courses/list')
                    i.fas.fa-users.fa-3x.d-block
                    h4.mt-2 Courses
        .row
            .col-sm.text-center.pt-4
                a.btn.btn-light(href='#')
                    i.far.fa-calendar-alt.fa-3x.d-block
                    h4.mt-2 Event
            .col-sm.text-center.pt-4
                a.btn.btn-light(href='#')
                    i.fas.fa-comment-dots.fa-3x.d-block
                    h4.mt-2 Meetings
            .col-sm.text-center.pt-4
                a.btn.btn-light(href='#')
                    i.fas.fa-clipboard-check.fa-3x.d-block
                    h4.mt-2 Mangement