doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .col-4.col-sm-12 
          block User
        .col-8.col-sm-12
          block content
